/* REMINDERRRRRRRRRRRRRRRRRR TO FIX THESE THINGS
Background-image rules wont cut it for user submitted images, need to use html  */

:root {
    --content-width: 70vw;
    --minimum-margin: 100px;
    --minimum-top-padding: 150px;
    --modgrid-padding: 1em;

    --profile-header-picture--size: calc(20vw - var(--modgrid-padding)*2);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100% !important;
    margin: 0px;
}

textarea {
    resize: none;
}

/* --------------------------------type stuff */
p {
    margin: 0px;
}

p,
li {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 2vw 2vw 0px 0px;
}

/* --------------------------------Three.js stuff */
#hero_canvas {
    position: fixed;

    z-index: 1;
    top: 200px;
    pointer-events: none;
}

/* --------------------------------div stuff */
#layout_grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr var(--content-width) 1fr;
}
#layout_grid > div {
    height: 100%;
}
#margin-left {
    grid-column: 1/2;
}

#content {
    grid-column: 2/3;
    
}

#margin-right {
    grid-column: 3/4;
}

.settings_wrapper {
    padding: var(--modgrid-padding);
    position: fixed;
    height: 100%;
    width: 15vw;
}



.page_title {
    padding-left: var(--modgrid-padding);
    position: absolute;
    left: 15vw;
}

#modgrid_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(var(--content-width)/4);
}
#previewsize-modgrid_wrapper {
    overflow: scroll;
    max-height:70vh;
    display: grid;
    width: var(--content-width);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(var(--content-width)/4);
}

.modgrid_item, .modgrid_EX {
    padding: var(--modgrid-padding);
}

.modgrid_item li {
    padding: 1vw 0px;
}

.modgrid_item ul {
    padding: 1vw var(--modgrid-padding);
}

.wireframe-element {
    background-color: lightgray;
    border: solid black 1px;
}

.box-4x3 {
    grid-area: span 3/span 4;
}

.box-4x2 {
    grid-area: span 2/span 4;
}

.box-4x1 {
    grid-area: span 1/span 4;
}

.box-3x2 {
    grid-area: span 2/span 3;
}

.box-3x1 {
    grid-area: span 1/span 3;
}

.box-2x3 {
    grid-area: span 3/span 2;
}

.box-2x2 {
    grid-area: span 2/span 2;
}

.box-2x1 {
    grid-area: span 1/span 2;
}

.box-1x3 {
    grid-area: span 3/span 1;
}

.box-1x2 {
    grid-area: span 2/span 1;
}

.box-1x1 {
    grid-area: span 1;
}

.feed-post_link {
    min-width: 100%;
    min-height: 100%;
    display: block;

}

/* generic popup stuff - will be filled with content by js */

#generic-popup_wrapper {
    width: 400px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: var(--modgrid-padding);
    z-index: 9999;
}

#generic-popup_wrapper.popup_medium {
    width: 50vw;
}
#generic-popup_wrapper.popup_large {
    width: 70vw;
}
#generic-popup_wrapper.popup_xlarge {
    width: 80vw;
}

#generic-popup-options_wrapper {
    display: flex;
    gap: var(--modgrid-padding);
    padding-top: var(--modgrid-padding);
}

/* generic popup action ------- tagadder */
#generic-popup-actions_tagadder {
    margin: var(--modgrid-padding) 0px;
}
#generic-popup-tagadder-options_wrapper{
    display: flex;
    margin: var(--modgrid-padding) 0px;

}
#generic-popup-tagadder_taglist {
    max-height: 40vh;
    overflow: scroll;
}

/* generic popup action ------- previewsize */

#generic-popup-actions_previewsize {
    display: flex;
    gap: var(--modgrid-padding);
    margin: var(--modgrid-padding) 0px;
    
}
#previewsize-options_wrapper {
    display:flex;
    flex-direction: column;
    gap: var(--modgrid-padding);
    width: 120px;
}
.previewsize_button {
    padding: 5px var(--modgrid-padding);
    width: fit-content;
}

/* signup popup grid stuff */

#signup-popup_wrapper, #login-popup_wrapper {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,40%);
    top: 0;
    overflow: scroll;
}
#signup-popup_grid, #login-popup_grid {
    display: grid;
    padding: calc(var(--modgrid-padding)*2) 5vw;
    gap: var(--modgrid-padding);
    row-gap: var(--modgrid-padding);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr); 
    width: 60vw;
    min-height: 100vh;
    
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.signup-popup_input, .login-popup_input {
    min-width: 240px;

}
#signup-popup-title_wrapper, #login-popup-title_wrapper {
    grid-area: span 1/span 2;
}
#signup-popup-profilepicture_wrapper {
    grid-area: span 3/span 1;
}
#signup-popup-profilepicture-preview_wrapper{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#signup-popup-profilepicture-preview_image {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* --------------------------------all pages general stuff */
section {
    min-width: 0;
    min-height: 0;
    padding-top: var(--minimum-top-padding);
    padding-bottom: var(--minimum-top-padding);
}
.invisible {
    visibility: hidden;
}
.inactive {
    display: none !important;
}

#hero_section {
    padding-top: 0px;
}

.post-preview-flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--modgrid-padding);
    row-gap: var(--modgrid-padding);
    height: auto;
}
.post-preview_item {
    width: 12vw;
    height: 16vw;
    max-width: 210px;
    max-height: 280px;
    min-width: 150px;
    min-height: 200px;
    background-color: cyan;
}

/* --------------------------------button stuff */

.button--medium{
    width: 100px;
    height: 40px;
}

/* --------------------------------hero stuff */
/* -----Logo */
#logo_wrapper{
    height: 100px;
    position: fixed;
    left: 0px;
    z-index: 999;
}
#logo_button img {
    width: auto;
    height: 100%;
}
/* -----Nav */
#hamburger_wrapper {
    width: 75px;
    height: 75px;
    background-color: grey;
    position: fixed;
    right: 0px;
    z-index: 999;
}


#nav_wrapper {
    width: 400px;
    background-color: rgb(173, 173, 173);
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -100%;
    transition: right 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.nav_item {
    background-color: aqua;
    margin-top: var(--modgrid-padding);
    padding-left: 50px;
    padding-right: 50px;
    flex-shrink: 1;
}

#nav_button img {
    width: 100%;
    height: auto;
}

#nav_wrapper.active-sidebar {
    right: 0%;
}

/* ----- */
#hero_title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26vw;
}

#hero_wrapper {
    width: 100%;
    height: 100vh;
}

/* --------------------------------post feed stuff */


.feed-post_link, .feed-post-info_wrapper, .feed-post-content_wrapper {
    text-decoration: none; 
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.feed-post-info_wrapper{
    min-height: fit-content;
}
.feed-post-title_text {
    margin-bottom:0px;
}
.feed-post_link > p, .feed-post-content_wrapper > p, .feed-post-info_wrapper > p {
    margin: 10px 0px 0px 0px;
}
.feed-post-info_wrapper {
    gap: var(--modgrid-padding);
    flex-direction: row;
}
.feed-post-img_container{
    margin-top: var(--modgrid-padding);
    display: grid;
    place-items: center left;
    min-height: 0;
    height: fit-content;
    width: 100%;
    overflow:hidden;
    
}
.post-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    
    
    min-height: 0;
    min-width: 200px;
    
}
.feed-post-tags_wrapper {
    padding-top: var(--modgrid-padding);
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    gap: var(--modgrid-padding);
    overflow-x: scroll; 
    min-height: fit-content;
}
.feed-post-box.box-1x2 > .feed-post-tags_wrapper {
    flex-wrap: nowrap;
}
/* --------------------------------post view stuff */
.tags_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--modgrid-padding);
    padding-top: var(--modgrid-padding);
    overflow: scroll;
}

.tags_item, .feed-post-tags_item, .tagadder-tags_item {
    width: fit-content;
    padding: 5px var(--modgrid-padding);
    background-color: aqua;
    display: flex;
    gap: 5px;
}
.tags_item p, .feed-post-tags_item p, .tagadder-tags_item p {
    margin:0px;
}


#post-title-tags_button {
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

/* #post-content_wrapper {
    margin: 50px 0px;
} */
#post-content_wrapper p {
    padding-top: 10px;

}
#post-content_box {
    overflow: scroll;
}

#post-mainimg {
    width: 100%;
}

.post-img_box, #post-mainimg_box  {
    display: flex;
    flex-direction: column;
}

.post-img_container, #post-mainimg_container {
    width: 100%;
    
    max-height: 100%;
}

.img_caption, #mainimg_caption {
    margin-top: 10px;
    margin-bottom: 0;
}

/* --------------------------------account stuff */

#profile-options_wrapper {
    display:flex;
    flex-direction: column;
    position: fixed;
    width: 15vw;
    height: fit-content;
    left: 0;
    top: 250px;
}


#profile-header_box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: var(--profile-header-picture--size) 1fr;
    column-gap: var(--modgrid-padding);
}

#profile-header-picture_wrapper {
    clip-path: circle(50%);
    background-color: aqua;
    height: var(--profile-header-picture--size);
    width: var(--profile-header-picture--size);
    grid-area: span 4/span 1;
}

#profile-header-picture_img, .messaging-chatview-picture_img {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
}

#profile-header-title_wrapper {
    grid-area: span 1/span 1;
}
#profile-header-title_text{
    margin: 0;
    
}
#profile-header-info_wrapper {
    grid-area: span 3/span 1;
}
#profile-status_input{
    /* height: 100%; */
    width: 100%;
}
#profile-status_text{
    padding-top:var(--modgrid-padding);
}
#profile-bio_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#profile-bio_input{
    flex-grow: 1;
    width: 100%;
}

#profile-header-info_list {
    
    margin: 0;
}

li.profile-header-info_list-item {
    padding: 5px 0px;
    font-size: 1.2em;
}
#profile-myposts_box {
    overflow: scroll;
}


.profile-myposts_item-preview {
    max-width: 100%;
    max-height: 100%;
}
.profile-myposts_item-title {
    padding: 5px var(--modgrid-padding);
}

#profile-friends_box {
    overflow: scroll;
}
#profile-friends_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--modgrid-padding);
    row-gap: var(--modgrid-padding);
}
.profile-friends_item-title {
    padding: 5px 0px;
}

.profile-friends_item-picture_wrapper {
    clip-path: circle(50%);
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.profile-friends_item-picture_img {
    object-fit: cover;
    height: 100%;
    width:100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------------messaging stuff */

#messaging_wrapper {
    padding: var(--modgrid-padding);
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
}

#messaging-input_wrapper{
    margin-top: var(--modgrid-padding);
    display: flex;
}
#messaging-input_field{
    width: 60%;
    height: 10vh;
    
}
#messaging-input-send_button{
    padding: 10px calc(var(--modgrid-padding)*3);
    align-self: end;
    margin-left: var(--modgrid-padding);
}

#messaging-chatview_wrapper{
    display: flex;
    row-gap: var(--modgrid-padding);
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}
#messaging-chatview_wrapper * {
     overflow-anchor: none;
}
#messaging-chatview_wrapper #anchor {
     overflow-anchor: auto;
     margin-top: auto;
     height: 10px;
}
.messaging-chatview-message_wrapper.outgoing-message {
    align-self: end;
    flex-direction: row-reverse;
}
.incoming-message div {
    background-color: aquamarine;
}
.outgoing-message div {
    background-color: aqua;
}
.messaging-chatview-message_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--modgrid-padding);
}
.messaging-chatview-picture_wrapper {
    clip-path: circle(50%);
    background-color: aqua;
    height: 38px;
    width: 38px;
    grid-area: span 4/span 1;
    overflow: hidden;
}
.messaging-chatview-message_box {
    width: fit-content;
    max-width: 30vw;
    padding: 10px 15px;
    clip-path: inset(0% round 15px);
    word-break: break-all;
    
}

/* --------------------------------makepost stuff */

#postmake_wrapper{
    display: grid;
    grid-template-columns: 1fr 300px;
}
#postmake-flow_wrapper {

}
#postmake-page_wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}
#postmake-tabs_wrapper {
    display: grid;
    grid-template-columns: 150px 150px;
}
#postmake-tab-basic {
    background-color: rgb(60, 60, 60);
    color: white;
}
.postmake-tabs_box {
    padding: 10px calc(var(--modgrid-padding)*2);
    text-align: center;
}
#postmake-content_wrapper {
    position: relative;
}
#postmake-content-custom_wrapper {
    padding: var(--modgrid-padding);
}
#postmake-content-basic_wrapper {
    padding: var(--modgrid-padding);
    position: absolute;
    top: 0;
    max-width: 100%;
    background-color: rgb(60, 60, 60);
    color: white;
}
.postmake-content-title_row {
    padding-top: calc(var(--modgrid-padding)*2);
    padding-bottom: 10px;
}
.postmake-content_row {
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.postmake-content_row .post-preview_item {
    flex-shrink: 0;
}

#postmake-options_wrapper {
    display: flex;
    gap: var(--modgrid-padding);
}
.button--medium {
    display:flex;
    padding: 10px var(--modgrid-padding);
}
.button--medium > a {
    text-align: center;
    height: 100%;
    width: 100%;
}

.button--wide {
    display:flex;
    padding: 10px var(--modgrid-padding);
    flex: auto;
}
.button--wide > a {
    text-align: center;
    height: 100%;
    width: 100%;
}

/* post creator stuff */

#post-title_box{
    display:flex;
    flex-direction: column;
}
#post-title_box > p{
    margin-top: 10px;
    margin-bottom: 0;
}

#post-title_textinput {
    width: 100%;
    height: 10em;
}
#post-content_textinput {
    width: 100%;
    height: 100%;
}

#post-details_box {
    height: 100%;
    display:flex;
    flex-direction: column;
}
#post-details-info_textinput {
    width: 100%;
    flex-grow: 1;
}
#post-mainimg_box{
    display:flex;
    flex-direction: column;
    
}
#post-mainimg_container{
    
    overflow: hidden;
}
#post-mainimg-preview_wrapper{
    display:flex;
    height: 100%;
    width: 100%;
}
#post-mainimg-preview_image {
    min-height: 100%;
    min-width: 100%;
    
    object-fit: cover; 
}
#post-mainimg-inputs_row {
    display: flex;
    gap: 5px;
}
.post-image_input{
    margin-top: 10px;
    width: 100%;
}
#mainimg-caption {
    width: 100%;
}

#postmake-settings-description_input {
    width: 100%;
    height: 250px;
}


/* --------------------------------footer stuff */
#footer_wrapper {
    max-width: 100%;
    height: 600px;
    padding: var(--minimum-margin);
    background-color: grey;
    position: relative; 
    z-index: 99;
}
#footer_section {
    margin: 0;
    padding: 0;
}

/* --------------------------Media query stuff-------------------------- */

@media screen and (max-width: 1400px) {
    #modgrid_wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: calc(var(--content-width)/3);
    }   
    #previewsize-modgrid_wrapper {
    display: grid;
    width: var(--content-width);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(var(--content-width)/3);
}
}
/* @media screen and (max-width: 1000px) {
    #modgrid_wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: calc(var(--content-width)/2);
    }
} */
 @media screen and (max-width: 1000px) {
    #signup-popup_grid .signup-popup_item {
        grid-area: span 1/span 2;
}
}